<script setup lang="ts"></script>
<template>
  <v-row class="r1">
    <v-col sm="4">
      <v-avatar size="300" class="avatar">
        <v-img
          src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/243998063_4344610392319516_5778055725835231204_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHIw2mkUKATUFBvExYNSysLYaJampIzbZBholqakjNtkAyQEQNsEwmeSpjrtVUUGwRV4y9RWx9duIZtIqkUznyu&_nc_ohc=9e0xnwmXugkAX_mcEqo&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfCOXrk4blKqK2upEUkyyimcl3ywCcwkJ4Cn8QWAX7rgqA&oe=63A79BF7"
          cover
        ></v-img>
      </v-avatar>
    </v-col>
  </v-row>
  <v-col sm="8">
    <v-card height="100%" width="100%" elevation="5" class="padding">
      <v-card-item>
        <h1>-ˋˏ * My Profile * ˎˊ-</h1>
        <v-table :show-rows-border="false">
          <tbody>
            <tr>
              <td>Name ✎ ̼</td>
              <td>Keetapat Chomrasri (Nan) ˳✧༚</td>
            </tr>
            <tr>
              <td>Faculty ✎ ̼</td>
              <td>Computer-Science (CS) ˳✧༚</td>
            </tr>
            <tr>
              <td>History ✎ ̼</td>
              <td>Wattananusas School (Middle School) ˳✧༚</td>
            </tr>
            <tr>
              <td></td>
              <td>Chonkanyanukoon School (Senior High School) ˳✧༚</td>
            </tr>
            <tr>
              <td></td>
              <td>Burapha University ˳✧༚</td>
            </tr>
            <tr>
              <td>My Birthday ✎ ̼</td>
              <td>2002 Feb 24 ˳✧༚</td>
            </tr>
            <tr>
              <td>Favorite ✎ ̼</td>
              <td>K-pop ˳✧༚</td>
            </tr>
          </tbody>
        </v-table>
      </v-card-item>
    </v-card>
  </v-col>
</template>
